header{
  position: sticky;
  top: 0;
  z-index: 1001;
}

nav {
  display: block;
  text-align: left-top;
  background-color: black;
}
nav ul {
  margin: 0;
  padding:0;
  list-style: none;
}
.navbar a {
  display:block;
  background: #111;
  color: #fff;
  text-decoration: none;
  padding: 0.8em 1.8em;
  text-transform: uppercase;
  font-size: 80%;
  letter-spacing: 2px;
  text-shadow: 0 -1px 0 #000;
  position: relative;
}
.navbar{
  vertical-align: top;
  display: inline-block;

}
.navbar li {
  position: relative;
}
.navbar > li {
  float: left;
  border-bottom: 4px #aaa solid;
  margin-right: 1px;
}
.navbar > li > a {
  margin-bottom: 1px;
}
.navbar > li:hover,
.navbar > li:hover > a {
  border-bottom-color: blue;
}

.navbar li:hover > a {
  color: blue;
}
.navbar > li:first-child {
  border-radius: 4px 0 0 4px;
}
.navbar > li:first-child > a {
  border-radius: 4px 0 0 0;
}
.navbar > li:last-child {
  border-radius: 0 0 4px 0;
  margin-right: 0;
}
.navbar > li:last-child > a {
  border-radius: 0 4px 0 0;
}
.navbar li li a {
  margin-top: 1px;
}

.navbar ul {
  position: absolute;
  white-space: nowrap;
  border-bottom: 5px solid  blue;
  z-index: 1;
  left: -99999em;
}
.navbar > li:hover > ul {
  left: auto;
  margin-top: 5px;
  min-width: 100%;
}
.navbar > li li:hover > ul {
  left: 100%;
  margin-left: 1px;
  top: -1px;
}
.navbar > li > a:first-child:nth-last-child(2):before {
  border-top-color: #aaa;
}
.navbar > li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent;
  border-bottom-color: blue;
  margin-top:-5px
}
.navbar li li > a:first-child:nth-last-child(2):before {
  border-left-color: #aaa;
  margin-top: -5px
}
.navbar li li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent;
  border-right-color: blue;
  right: 10px;
}

.navbar li a:first-child:nth-last-child(2):before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  top: 50% ;
  right:5px;
 }

.introduction h1{
  display: block;
  font-size: 4em;
  margin-left: auto;
  margin-right: 3%;
  margin-top: auto;
  margin-bottom: auto;
}

.introduction img {
  float: left;
  margin-top: 3%;
}

.feature13 img{
  float: right;
  position: relative;
  top: -15px;
  margin-right: 7%;
}

.feature23 img{
  float: left;
}

.feature33 img{
  float: right;
  margin-right: 4%;
}

button {
  background-color: mediumblue;
  border: none;
  border-radius: 18px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button a{
  text-decoration: none;
}

.buy now {
  background-color: white;
  color: black;
}

.buy now:hover {
  color: white;
   border-radius: 18px
}
